extends layout

block layout-content
    ul#buy-container 
      li.buy-image 
        img(src="/images/phone5.webp", alt="")
      li.buy-description
        ul 
          li 
            span#buy-title Stow Phone Case Cover For iPhone 13
          li
            span#buy-rate $80
              span.old-price $100 
          li
            button(type="submit")#add-to-cart ADD TO CART
          li
            span.offer BUY 1 GET 1 FREE
          li
            span.offer FREE WALLET/DUFFLE BAG ON ORDERS WORTH $100
          li
            #pin-code
          li 
            dl 
              dt Product Details
                span +
                dd 
                  p Encase your valuables securely in one hand with the Stow Phone Case Cover. It combines solid protection for your iPhone with convenient storage for your cards in a built-in back wallet. Stow comes with drop-defense technology and it’s four-corner reinforced shock absorbing interior provides all around protection to your device. For enhanced user experience, the back panel slides open and allows easy access to on-the-go storage with space to hold upto 2 credit/debit cards, 1 micro SD card, 1 nano sim card and a sim ejector pin.
              dt Specifications
                span +
                dd 
                  p 
                    strong MATERIAL: 
                    | Polycarbonate, Thermoplastic Polyurethane (TPU)
                  p 
                    strong PACKAGE CONTENTS:
                    | 1 x Stow Phone Case Cover, 1 x Complementary Sim ejector pin
                  p 
                    strong CARE: 
                    | Wipe the case clean with a mildly dampened, non abrasive cloth.
              dt Delivery & Returns
                span +
                dd 
                  p Delivery
                  p Dispatch to Courier in 2-3 Days.
                  p Eligible for Cash on Delivery
                  p FREE SHIPPING
                  p Shipping is free for all prepaid orders above Rs.749.
                  p A charge of Rs.49 is applied to all Prepaid orders below Rs.749.
                  p CASH ON DELIVERY
                  p Rs.99 extra charges for all Cash On Delivery orders.
