extends layout

block layout-content
    ul#buy-container 
      li.buy-image 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone6.webp", alt="")
      li.buy-description
        ul 
          li 
            span#buy-title Stow Phone Case Cover For iPhone 13
          li
            span#buy-rate $80
              span.old-price $100 
          li
            button(type="submit")#add-to-cart ADD TO CART
          li
            span.offer BUY 1 GET 1 FREE
          li
            span.offer FREE WALLET/DUFFLE BAG ON ORDERS WORTH $100
          li
            #pin-code
              input(type="text", placeholder="Enter Pincode To Check Delivery")
              #check-pin CHECK
          li 
            dl 
              dt Product Details
                span +
                dd 
                  p Encase your valuables securely in one hand with the Stow Phone Case Cover. It combines solid protection for your iPhone with convenient storage for your cards in a built-in back wallet. Stow comes with drop-defense technology and it’s four-corner reinforced shock absorbing interior provides all around protection to your device. For enhanced user experience, the back panel slides open and allows easy access to on-the-go storage with space to hold upto 2 credit/debit cards, 1 micro SD card, 1 nano sim card and a sim ejector pin.
              dt Specifications
                span +
                dd 
                  span 
                    strong MATERIAL: 
                    | Polycarbonate, Thermoplastic Polyurethane (TPU)
                    br
                  span 
                    strong PACKAGE CONTENTS: 
                    | 1 x Stow Phone Case Cover, 1 x Complementary Sim ejector pin
                    br
                  span 
                    strong CARE: 
                    | Wipe the case clean with a mildly dampened, non abrasive cloth.
                    br
              dt Delivery & Returns
                span +
                dd 
                  strong Delivery
                  span Dispatch to Courier in 2-3 Days.
                  span Eligible for Cash on Delivery
                  br
                  strong FREE SHIPPING
                  span Shipping is free for all prepaid orders above $20.
                  span A charge of ¢50 is applied to all Prepaid orders below $20.
                  br
                  strong CASH ON DELIVERY
                  span $5 extra charges for all Cash On Delivery orders.
