extends layout

block layout-content
  //- https://unsplash.com/@nathanareboucas
  //- https://unsplash.com/@larskaizer
  .splash 
    img(src="/images/splash1.png")#splash-image
    a(href="/products")  Shop Now
  .page-container
    h3 NEW RELEASES
    ul#new-release 
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone1.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone2.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone3.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone4.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone5.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone6.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone7.webp", alt="")
      li.new-release-item 
        //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
        img(src="/images/phone8.webp", alt="")