extends layout

block layout-content
  h1.products-header APPLE IPHONE COVERS & CASES
  ul#product-categories
    li
      .cat-all ALL
      span All
    li
      img(src="/images/basic.webp", alt="small picture of phone with basic style phone covers")
      span Basic 
    li
      img(src="/images/hybrid.webp", alt="small picture of phone with designer cover")
      span Hybrid 
    li
      img(src="/images/stride.webp", alt="small picture of phone with stride design")
      span Stride
  ul#product-list
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone1.webp", alt="")
          p.item-description Nimbus Phone Case Cover For iPhone 13
          p.item-rate $89 
            span.old-price $130
          p.discount BUY 1 GET 1 FREE  
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone2.webp", alt="")
          p.item-description Stow Phone Case Cover For iPhone 13
          p.item-rate $89 
            span.old-price $130
          p.discount BUY 1 GET 1 FREE
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone3.webp", alt="")
          p.item-description Sidekick Phone Case Cover For iPhone 13
          p.item-rate $95 
            span.old-price $120
          p.discount BUY 1 GET 1 FREE
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone4.webp", alt="")
          p.item-description Black Hybrid Clear Case & Screen Protector Combo For iPhone 13
          p.item-rate $70 
            span.old-price $100
          p.discount BUY 1 GET 1 FREE
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone5.webp", alt="")
          p.item-description Symbolic Zebra Stride 2.0 Case Cover For iPhone 13
          p.item-rate $87 
            span.old-price $125
          p.discount BUY 1 GET 1 FREE
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone6.webp", alt="")
          p.item-description Bandar Mela Stride 2.0 Case Cover For iPhone 13
          p.item-rate $100 
            span.old-price $130
          p.discount BUY 1 GET 1 FREE
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone7.webp", alt="")
          p.item-description Another One Stride 2.0 Case Cover For iPhone 13
          p.item-rate $110 
            span.old-price $150
          p.discount BUY 1 GET 1 FREE
      li.product-list-item
        a(href="/")
          //- https://www.dailyobjects.com/apple/iphone-13-cases/lp?f=b~apple,cid~1101,m~iphone-13
          img(src="/images/phone8.webp", alt="")
          p.item-description Bubble Blaster Stride 2.0 Case Cover For iPhone 13
          p.item-rate $89 
            span.old-price $130
          p.discount BUY 1 GET 1 FREE