@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&family=Montserrat:wght@400;500&display=swap');

body {
    margin: 0;
}

header {
    background-color: #FFEAD0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.page-container {
    max-width:1500px;
    margin:0 auto;
}

#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo h2 {
    font-family: 'Lobster', cursive;
    color: #F76F8E;
    padding-left: 15px;
    min-width: 132px;
}

#logo a {
    text-decoration: none;
}

#main-navigation li {
    display: inline;
    margin-left: 50px;
}

#main-navigation a {
    text-decoration: none;
    font-family: 'Koulen', cursive;
    color: #96616B;
    font-size: 17px;
}

#mobile-nav ul {
    display: none;
    margin: 0;
    background: #ffd9aa;
    list-style: none;
}

#mobile-nav a {
    text-decoration: none;
    font-family: 'Koulen', cursive;
    color: #784f57;
}

#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 30px;
    list-style: none;
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0;
}

#profile-items img {
    width: 20px;
}

#profile-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.splash img {
    width: 100%;
    height: auto;
}

.splash {
    position: relative;
    text-align: center;
    margin-top: 70px;
}

.splash a {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
    background-color: aliceblue;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    font-size: larger;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
}

#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 25px 0 25px;
    gap: 5px;
    align-items: stretch;
    place-content: stretch space-between;
}

#product-list img {
    width: 100%;
    height: auto;
    background: #f2f2f2;
}


.product-list-item {
    text-decoration: none;
    color: black;
    padding: 3px;
    transition: 0.2s;
    flex-basis: 24%;
    flex-grow: 1;
    /* width: 214px; */
}

.product-list-item a {
    text-decoration: none;
    color: black;
}

.item-description {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.item-rate {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px 0 10px 0;

}

.old-price {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    font-weight: 500;
    color: gray;
    padding-left: 8px;
}

.discount {
    font-family: 'Koulen', cursive;
    color: red;
    margin-top: 0;
}


/* PRODUCTS PAGE STYLES */

.products-header {
    margin-top: 85px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

#product-categories img {
    border-radius: 36px;
}

#product-categories {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

#product-categories span {
    display: block;
    text-align: center;
    font-family: 'Koulen', cursive;
}

#product-categories li {
    height: 110px;
    width: 80px;
}

#product-categories li img:hover {
    border: 3px solid black;
    cursor: pointer;
}

.cat-all:hover {
    border: 3px solid black;
    cursor: pointer;
}

.cat-all {
    height: 70px;
    width: 70px;
    background: rgb(58, 167, 58);
    border-radius: 36px;
    line-height: 70px;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: white;
}

.cat-all span {
    padding-top: 4px;
}

footer {
    background-color: black;
    padding: 30px;
}

footer span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    position: relative;
}


@media screen and (max-width:580px) {
    #mobile-nav ul {
        display: block;
    }

    #main-navigation {
        display: none;
    }

    .splash {
        margin-top: 128px;
    }

    .splash a {
        top: 29%;
    }

    #product-list {
        justify-content: center;
    }
    
    .product-list-item {
        max-width: 45%;
        min-width: 45%;
        flex-grow: 1;
    }

    #product-list {
        padding: 0 2px 0 2px;
    }
    
}
